@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.75rem;
}

.with-dot::before {
  content: "•";
  padding-right: 4px;
  color: black;
}

.skeleton {
  opacity: 0.7;
  animation: glimmer 1s linear infinite alternate;
}

.skeleton-text {
  height: 1rem;
  border-radius: 2px;
  margin-bottom: 4px;
}

@media (max-width:568px) {
  .show {
    display: flex;
    justify-content: center;
    animation: fade_in 0.5s
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glimmer {
  0% {
    background-color: hsl(200, 20%, 85%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
