@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.75rem;
}

@media (max-width:568px) {
  .show {
    display: flex;
    justify-content: center;
    animation: fade_in 0.5s
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
